.backGround {
    background-color: #EBFFE4FF;
    height: 400px;
    padding-top: 60px;
}
.containerSize  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
.socialMedialBlock {
    width: 550px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.socialMedialBlock a{
     display: inherit;
    background-color: black;
    width: 60px;
    height: 60px;
 }

@media screen and (max-width: 600px) {
    .socialMedialBlock {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
    }
}
