

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}
.menu a{
    margin-bottom: 1px;
    font-size: 17px;
    font-weight: 600;
    display: block;
    color: white !important;
}
.menu a:hover {
    cursor: pointer;
    color: #FFC107FF!important;
}
.wrapperA:hover   a:before{
    left: 0;
    transition-duration: 0.3s;
    visibility: inherit;
}
.menu a:before {
    transition-duration: 0.3s;
    visibility: collapse;
    position: absolute;
    top: 24px;
    left: -100%;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFC107FF;
}
.header {
    background-color: #0B0D0CFF;
    position: absolute;
    z-index: 90;
    width: 100%;
}
.wrapperA {
    overflow: hidden;
    position: relative;
}
.BurgerWrapper {
    margin-top: 10px;
    box-shadow: 0 0 0  3px #FFC107FF;
    z-index: 3001;
    position: fixed;
    background-color: #2D2D39FF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.1s;
}
.BurgerWrapper:hover{
    box-shadow: 0 0 0  3px white;
    cursor: pointer;
    transition: 0.1s;
    background-color: #3c3f41;
}
.BurgerWrapper:hover .Lines{
    background-color: white;
}
.BurgerWrapper:hover .Lines::before {
    background-color: white;
}
.BurgerWrapper:hover .Lines::after {
    background-color: white;
}
.Lines::before{
    content: '';
    top: -12px;
    position: absolute;
    width: 33px;
    height: 3px;
    background-color: #FFC107FF;
}
.Lines::after{
    content: '';
    top: 12px;
    position: absolute;
    width: 33px;
    height: 3px;
    background-color: #FFC107FF;
}
.Lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 33px;
    height: 3px;
    background-color: #FFC107FF;
}
.Dis {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
}
.burgerShow {
    width: 100%;
    height: 60px;
    display: none;
}
.menuItems {
    transition-duration: 0.55s;
    transform: translateY(-100%);
    border: 4px solid #3c3f41;
    padding: 20px 80px 20px 0;
    margin-right: -18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: 90px;
    z-index: 300;
    background-color: black;
    border-radius: 10px 10px 0 10px;
}
.menuItemsActive {
    transition-duration: 0.55s;
    border: 4px solid #3c3f41;
    padding: 20px 80px 20px 0;
    margin-right: -18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: 90px;
    z-index: 300;
    background-color: black;
    border-radius: 10px 10px 0 10px;
}
.wrapperB {
    border-radius: 0 5px 5px 0 ;
    background-color: #3c3f41;
    width: 130px;
    height: 30px;
    text-align: center;
    margin-top: 7px;
}
.wrapperB:hover .menuItems{
}
@media screen and (max-width: 600px) {
    .wrapperA{
        display: none;
    }
    .burgerShow {
        display: flex;
       align-items: center;
        justify-content: flex-end;
    }
    .menu {
        justify-content: flex-end;
    }
}