.backGround {
    background-color: #FFE2E2FF;
    height: 100vh;
    display: flex;
    align-items: center;
}
.containerFlex {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inputFormSize {
    height: 400px;
    width: 600px;
}
.title {
    font-size: 35px;
    font-weight: 700;

}
.inputFormSize  input, textarea{
    display: inherit;
}
.inputFormSize form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.inputFormSize  input{
    padding-left: 10px;
    border: solid 2px darkgrey;
    width: 400px;
    height: 50px;
}
.inputFormSize  textarea{
    padding-left: 10px;
    border: solid 2px darkgrey;
    width: 400px;
    height: 200px;
    resize: none;
}
.containerFlex button{
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    background-color: #007bff;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.containerFlex button:hover{
    background-color: #005cbf;
}
.containerFlex button:focus{
    outline:none!important;
}
@media screen and (max-width: 617px) {
    .inputFormSize input {
        padding-left: 10px;
        border: solid 2px darkgrey;
        width: 100%;
        height: 50px;
    }
    .inputFormSize textarea {
        padding-left: 10px;
        border: solid 2px darkgrey;
        width: 100%;
        height: 200px;
        resize: none;
    }
    .inputFormSize {
        height: 400px;
        width: 100%;
    }
}