.backGround {
    position: relative;
    background-color: #2C2C37FF;
}
.BlockInfo {
    height: 400px;
    padding-top: 60px;
}
.containerSize  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
.containerSize h1{
    color: white;
}
.containerSize p{
    color: white;
}
.socialMedialBlock {
    width: 550px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.socialMedialBlock a{
    display: inherit;
    width: 60px;
    height: 60px;
}
.socialMedialBlock a img{
    width: 60px;
    height: 60px;
}
.socialMedialBlock a:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .socialMedialBlock {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
    }
}
