.backgroundColorPage {
    padding-top: 25px;
    background-color: #000000FF;
    min-height: 100vh;
    padding-bottom: 30px;
}
.dawdwa {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blockSkills {
    margin-top:10%;
}
.skill img{
    height: 50px;
    width: 50px;
}
.HeadText {
    text-align: center;
    margin-bottom: 0px;
}
.HeadText h1{
    color: #FDFDFDFF;
}
.skill {
    padding: 0 40px !important;
    text-align: center;
}
.skill h1{
    color: #FDFDFDFF;
    text-align: center;
    font-size: 30px;
}
.skill p{
    color: #FDFDFDFF;
    text-align: center;
    font-size: 13px;
}
.blockSkills div:nth-child(2){
    border-left: 1px solid #B729FFFF;
    border-right: 1px solid #B729FFFF;
}
.blockSkills div:nth-child(5){
    border-left: 1px solid #B729FFFF;
    border-right: 1px solid #B729FFFF;
}

@media screen and (max-width: 991px){
    .textPosition{
        text-align: center !important;
    }
    .txtStyle {
        margin: 0 auto !important;
    }
    .myPhoto img{
        margin: 0 auto  !important;
    }
}
@media screen and (max-width: 991px){
    .blockSkills div:nth-child(2){
        border-left: none;
        border-right: none;
    }
    .blockSkills div:nth-child(1){
        border-right: 1px solid #B729FFFF;
    }
    .blockSkills div:nth-child(5){
        border-left: none;
        border-right: 1px solid #B729FFFF;
    }
    .blockSkills div:nth-child(3){
        border-right: 1px solid #B729FFFF;
    }
}
@media screen and (max-width: 575px){
    .blockSkills div:nth-child(2){
        border-left: none;
        border-right: none;
    }
    .blockSkills div:nth-child(1){
        border-left: none;
        border-right: none;
    }
    .blockSkills div:nth-child(5){
        border-left: none;
        border-right: none;
    }
    .blockSkills div:nth-child(3){
        border-left: none;
        border-right: none;
    }
}
@media screen and (max-width: 767px){
    .backgroundColorPage {
        padding-top: 25px;
        background-color: #000000FF;
        height: auto;
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 1230px){
    .skill {
        text-align: center;
        padding: 0 15px!important;
    }
    .skill h1{
        color: #FDFDFDFF;
        text-align: center;
        font-size: 35px;
    }
    .skill p{
        color: #FDFDFDFF;
        text-align: center;
        font-size: 17px;
    }
}